.card-view{
    margin:  1rem 15px 0;
    border: solid #f7f7f9;
}
.card{
    width: 240px;
    height: 300px;
    margin-bottom: 5px;
    display: inline-block;
}
.Book-cover{
    height: 300px;
    width:200px;
}

.Book{
    display: inline-block;
    height: 360px;
    width: 240px;
    text-align: center;
}

