.title{text-align: center;
color:white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
.row{
   text-align: center;
        width: 1150px;
        height: 380px;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 0 auto;
        white-space: nowrap;
      
}
.card-logo{
        text-align: center;
        height: 300px;
        width: cover;
}
.logo{
        animation-duration: 15s;
        animation-name: fadein;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        overflow: hidden;
        animation-iteration-count: infinite;
     }
     @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
     }
     