.image2{
    text-align: center;
    height:600px; 
    width:400px;
}

.text{
    color: white;
     float: left;
     border: 2px solid white;
     border-radius: 12px;
     text-align: center;
 }
 .head{
     color: darkgray;
     text-shadow: 1px 1px 0 black; 
     font-size: 36px;
            
 }
 .summary{
     font-size: 24px;
     color: white;
 }
 .word{
    font-size: 24px;
     color: white;
 }